html,
body,
h1,
h2,
h3,
p {
  font-family: "Inter", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
}


.dark {
  background-color: #111827;
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark span,
.dark label {
  color: white;
}


body.light {
  --primary: white;
  --text-main: #111827;
}


.dark .project {
  background-color: rgb(45 212 191);
}

.moonToggle {
  cursor: pointer;
}

.darkToggle input {
  /* display: none; */
  visibility: hidden;
}

.mainTitle {
  font-weight: 900;
  font-size: 2.5rem;
}

.highlight {
  white-space: nowrap;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #b2f5ea 0);
}

.dark .highlight {
  white-space: nowrap;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #f39c12 0);
}

.frontend .firstbar { width: 90%; }
.frontend .secondbar { width: 90%; }
.frontend .thirdbar { width: 70%; }

.backend .firstbar { width: 90%; }
.backend .secondbar { width: 90%; }
.backend .thirdbar { width: 70%; }

.datascience .firstbar { width: 90%; }
.datascience .secondbar { width: 50%; }
.datascience .thirdbar { width: 40%; }

.other .firstbar { width: 80%; }
.other .secondbar { width: 60%; }
.other .thirdbar { width: 40%; }
