.dark {
    background-color: black;
}

.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark span,
.dark label {
    color: #FFF;
}

.dark .navbar a:not(.active) {
    color: #fff;
}

.dark .bar {
    background-color: #f39c12;
}

.dark .highlight {
    white-space: nowrap;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #f39c12 0);
}

.dark .project {
    background-color: #FFF;
}

.dark .project p, .dark .project span {
    color:black;
}

/* 
.dark .bar {
  background-color: #f39c12 ;
}

    .dark .highlight {
    white-space: nowrap;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #f39c12 0);
  }
  
  .darkCheckContainer{
    margin-left: 0.5rem!important;
    padding-right: 1rem!important;
  }
  
  #darkCheck {
    visibility: hidden;
  }
  
  #darkCheck + label:after {
    content: "🌙";
    cursor:pointer;
  }
  
  #darkCheck:checked + label:after {
    content: "☀️";
    cursor:pointer;
  }
   */