.dark {
    background-color: black;
}

.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark span,
.dark label {
    color: #FFF;
}

.dark .navbar a:not(.active) {
    color: #fff;
}


.dark .project {
    background-color: #FFF;
}

.dark .tag {
    color:black;
}

.dark .language-switcher {
    background-color: white;
    color: black!important;
}

.dark .language-switcher:hover {
    background-color: rgb(94 234 212);
}